{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

    <a  class="btn btn-outline-dark" href="{% url 'shop:product_list' %}">&#x2190; Continue Shopping</a>
<br>
<p>	<h4>DiamondzFurnitures: Product Details</h4></p>

    <center>
    <img  src="{{product.imageURL}}">
    <div class="col-lg-6 ">
		
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <p>This is product {{ product.name }} which costs
      <b>£{{product.price}}</b>. The product was added on: {{ product.created_date }} </p>
            <p><b>Product ID:</b> {{product.product_number}}</p>
            <p><b>Category:</b> {{product.category}}</p>
            <p><b>Sub-Category:</b> {{product.sub_category}}</p>
            <p><b>Product {{ product.id }}:</b> <a href="{% url 'shop:product_edit' id=product.id %}">Edit</a></p>
      <form action="{% url 'shop:basket_add' product.id %}" method="post">
      <!-- {{ basket_product_form }} -->
      {% csrf_token %}
            <button style="float:left; margin-left:100px;" data-product={{product.id}} data-action="add" class="btn btn-success add-btn update-cart">Add to Cart</button>
            <a  style="float:right; margin-right:80px; " class="btn btn-success" href="{% url 'shop:cartlist' %}">Checkout</a> 
            <p><a href="{% url 'shop:product_delete' id=product.id %}">Delete the product</a></p>
             
      </form>
        </div>
    </div>
 
    {% for p in s %}
    <p>{{p.name}}</p>
   {%endfor%}
    {% endblock %}
    