{% extends 'shop/base.html' %}
{% block content %}
<h1>Diamondz Furniture: Registration</h1>
  <div class="form-group" >
  <form method="post" > 
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
    {% for error in field.errors %}
    <p style="color: red">{{ error}} </p>
      {% endfor %}
    </p>
    {% endfor %}
      <button type="submit" class="btn btn-primary" name="Sign Up">Submit</button
     
</form>
  </div>
{% endblock %}