{% extends 'shop/base.html' %}
{% block content %}
    <h1>Diamondz Furnitures: Login</h1>
    {% if form.errors %}
       <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
     
    {% endif %}
  {% endif %}
   
  <p>Please login, or <a href = "{% url 'shop:signup' %}">Register</a> to see this page.</p>
  <form class="form-border" method="POST" action="{% url 'shop:login' %}" > 
    {% csrf_token %}
     <div class="form-row m-3">
      <div class="col">
     <b> {{ form.username.label_tag }}</b>
      {{ form.username }}
      </div>
      <div class="col">
      <b>{{form.password.label_tag }}</b>
      {{form.password }}
   </div>
   </div>
 <div class="form-row pt-3" >
       <button type="submit" class="btn btn-primary btn-center" name="Login">Submit</button>
      <!-- <input type="submit" name="Login"/> -->
      <input type="hidden" name='next' value="{{ next}}"/>
   </div>
</form>
    {% endblock %}

    